{% extends "base.html.twig" %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	<div class="container">
		<h2>Liste de vos photos</h2>
		<div class="row flex">

			<div class="col-8">
				<table class="table table-striped">
					<tr>
						<th>Titre</th>
						<th>Date</th>
						<th>nb commentaires</th>
						<th></th>
					</tr>
                    {% for photo in photos %}
					<tr>
						<td>{{ photo.title }}</td>
						<td>{{ photo.postAt }}</td>
						<td>0</td>
						<td>
							<a href="{{ path("photo.delete", {id: photo.id}) }}" class="btn btn-secondary">
								Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>

		<div class="col-4">
			<a href="{{ path('photo.new') }}" class="btn btn-primary">Ajouter une photo</a>
		</div>
	</div>
</div>{% endblock %}
